{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<div id="banner-{{ section.id }}" class="banner banner--{{ section.settings.banner_justify }}">
  <div class="banner__container">
    {% if section.settings.banner_title != blank %}
      <div class="banner__title">{{- section.settings.banner_title | escape -}}</div>
    {% endif %}
    {% if section.settings.banner_content != blank %}
      <div class="banner__details">{{ section.settings.banner_content }}</div>
    {% endif %}
  </div>
  
  {% if section.settings.background_image != blank %}
    {{ 
      section.settings.background_image
      | image_url:
        width: 1200
      | image_tag:
        class: 'banner__bg-image'
    }}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Banner",
    "class": "banner-class",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "banner_title",
        "default": "t:sections.banner.settings.title.default",
        "label": "t:sections.banner.settings.title.label"
      },
      {
        "type": "inline_richtext",
        "id": "banner_content",
        "default": "Lorem ipsum sit dolor amet",
        "label": "Banner Content"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "select",
        "id": "banner_justify",
        "options": [
          {
            "value": "justify-left",
            "label": "Left"
          },
          {
            "value": "justify-center",
            "label": "Center"
          },
          {
            "value": "justify-right",
            "label": "Right"
          }
        ],
        "default": "justify-left",
        "label": "Content Position"
      }
    ],
    "presets": [
      {
        "name": "Banner Preset Name",
        "category": "custom"
      }
    ]
  }
{% endschema %}